
{% extends 'base2.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- =============Hero Area============= ->
<section  style="padding-top:200px" class="hero-area bg_img" data-background="{% static 'assets/images/page-header.jpg' %}">
    <div class="container">
        <h1 class="title m-0">my account</h1>
    </div>
</section>
<div class="breadcrumb-section">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li>
                Login
            </li>
        </ul>
    </div>
</div>
<!-- =============Hero Area============= -->

<!--=================Account Section================= -->
<section class="account-section padding-top padding-bottom bg_img bg_right_bottom"
    data-background="{% static 'assets/images/account/account-bg.png' %}">
    <div class="container">
        <div class="account-wrapper">
            <div class="account-area">
                <h3 class="account-title">Your password reset instructions has been sent to your provided email address</h3>
               
            </div>
        </div>
    </div>
</section>
<!--=================Account Section================= -->

<!--=================Sponsor Section================= -->
<div class="sponsor-section padding-top padding-bottom">
    <div class="container">
        <div class="sponsor-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="{% static 'assets/images/sponsor/sponsor01.png' %}" alt="sponsor">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="{% static 'assets/images/sponsor/sponsor02.png' %}" alt="sponsor">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="{% static 'assets/images/sponsor/sponsor03.png' %}" alt="sponsor">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="{% static 'assets/images/sponsor/sponsor04.png' %}" alt="sponsor">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="{% static 'assets/images/sponsor/sponsor05.png' %}" alt="sponsor">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="{% static 'assets/images/sponsor/sponsor06.png' %}" alt="sponsor">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="{% static 'assets/images/sponsor/sponsor07.png' %}" alt="sponsor">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="{% static 'assets/images/sponsor/sponsor08.png' %}" alt="sponsor">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
